
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
    <script src="jquery.js"></script>
    <script src = "https://congthien.herokuapp.com/socket.io/socket.io.js"></script>
    <script>
      var socket = io("https://congthien.herokuapp.com");

      $(document).ready(function(){
        alert("Hello");
      });

    </script>
  </head>
  <body>
    gfgfdgfdg
  </body>
</html>
