
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
    <script src="jquery.js"></script>
    <script src = "socket.io/socket.io.js"></script>
    <script>
      var socket = io("http://123.4.101.65:3000");

      $(document).ready(function(){
        alert("Hello");
      });

    </script>
  </head>
  <body>
    gfgfdgfdg
  </body>
</html>
