
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
    <script src="jquery.js"></script>
    <script src = "http://congthien.herokuapp.com/socket.io/socket.io.js"></script>
    <script>
      var socket = io("http://congthien.herokuapp.com/webapp");
      socket.on("Server-send-data",function(data){
$("#noidung").append(data);});
socket.on("user",function(data){
$("#noidung").append(data["name"] + " , " + data["age"]);
      })
      $(document).ready(function(){

      });

    </script>

  </head>
  <body>
    Hello
    <h1 id ="noidung"></h1>
  </body>
</html>
